h1 {
    color: blueviolet;
}

.orange {
    color:orange;
}

.blue {
    color:blue;
}

.green {
    color:green;
}
#change {
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
}

.header {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: fantasy;
}

.header :hover {
    color: skyblue;
}
