<style>
h1 {
    color: blueviolet
}

.orange {
    color:orange
}

.blue {
    color:blue
}

.green {
    color:green
}
#change {
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
}
</style>
